body {
    margin: 0;
    padding: 0;
    font-family: 'Cinzel', serif;
    background-color: rgb(66, 58, 58);
    box-sizing: border-box;
}

input::placeholder {
    font-family: 'Cinzel', serif;
    text-align: center;
}

.box {
    text-align: center;
    margin: 2rem;
    padding: 1rem;
    background-color: #8b7457;
    border: 2px solid #d9d1c7;
    border-radius: 1px;
}

.box-2 {
    display: flex;
    margin: auto 3rem;
    justify-content: flex-end;
    height: 40px;
}

.input-box {
    flex-grow: 1;
    margin-right: 4px;
    text-align: center;
}

.button {
    width: 40%;
}